annotated-types
blinker
cachetools
certifi
charset-normalizer
click
colorama
Deprecated
dotenv
filelock
Flask
flask-cors
Flask-Limiter
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-genai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
huggingface-hub
idna
itsdangerous
Jinja2
joblib
limits
markdown-it-py
MarkupSafe
mdurl
mpmath
networkx
numpy
ordered-set
packaging
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
pyparsing
python-dotenv
PyYAML
regex
requests
rich
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
uritemplate
urllib3
Werkzeug
wrapt